[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino Help - Actuonix Motion Devices
Type=Link
URL=https://www.actuonix.com/category-s/1957.htm
Icon=text-html
