[Desktop Entry]
Encoding=UTF-8
Name=Link to ArduinoTutorials/Encoded motor at master · NikodemBartnik/ArduinoTutorials · GitHub
Type=Link
URL=https://github.com/NikodemBartnik/ArduinoTutorials/tree/master/Encoded%20motor
Icon=text-html
