[Desktop Entry]
Encoding=UTF-8
Name=Link to Arduino : How to Control DC Motors With L293D Motor Driver : 5 Steps (with Pictures) - Instructables
Type=Link
URL=https://www.instructables.com/id/Arduino-How-to-Control-DC-Motors-With-L293D-Motor-/
Icon=text-html
