[Desktop Entry]
Encoding=UTF-8
Name=Link to AutoPID | Arduino AutoPID library
Type=Link
URL=https://r-downing.github.io/AutoPID/#autopidrun
Icon=text-html
