[Desktop Entry]
Encoding=UTF-8
Name=Link to Control a Large Linear Actuator With Arduino : 5 Steps - Instructables
Type=Link
URL=https://www.instructables.com/id/Control-a-Large-Linear-Actuator-With-Arduino/
Icon=text-html
