[Desktop Entry]
Encoding=UTF-8
Name=Link to Control a Small Linear Actuator With Arduino : 7 Steps (with Pictures) - Instructables
Type=Link
URL=https://www.instructables.com/id/Control-a-Small-Linear-Actuator-With-Arduino/
Icon=text-html
