[Desktop Entry]
Encoding=UTF-8
Name=Link to Encoder Library, for Measuring Quadarature Encoded Position or Rotation Signals
Type=Link
URL=https://www.pjrc.com/teensy/td_libs_Encoder.html
Icon=text-html
