[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - PatrickBaus/PID-CPP: An efficient PID controller implemented in C++, optimized for the ARM Cortex M4 platform
Type=Link
URL=https://github.com/PatrickBaus/PID-CPP
Icon=text-html
