[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - dzufferey/continuous_servo: PID controller for brushed DC motor with quadrature encoder
Type=Link
URL=https://github.com/dzufferey/continuous_servo
Icon=text-html
