[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - mike-matera/FastPID: A fast, integer based PID controller suitable for Arduino.
Type=Link
URL=https://github.com/mike-matera/FastPID
Icon=text-html
