[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Use the L293D Motor Driver - Arduino Tutorial : 4 Steps (with Pictures) - Instructables
Type=Link
URL=https://www.instructables.com/id/How-to-use-the-L293D-Motor-Driver-Arduino-Tutorial/
Icon=text-html
