[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Use A Linear Actuator Control Board With Arduino | Actuonix
Type=Link
URL=http://blog.actuonix.com/2017/10/how-to-use-linear-actuator-control.html
Icon=text-html
