[Desktop Entry]
Encoding=UTF-8
Name=Link to Linear Actuator And Control Board Operated Via Arduino - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ok7vtByeTuY
Icon=text-html
