[Desktop Entry]
Encoding=UTF-8
Name=Link to Linear Actuator Control Board Operation Via USB - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=g-1Sx5ckEt0
Icon=text-html
