[Desktop Entry]
Encoding=UTF-8
Name=Link to little-scale: Teensy 3.6 Basics - Using Servo Motors
Type=Link
URL=http://little-scale.blogspot.com/2017/05/teensy-36-basics-using-servo-motors.html
Icon=text-html
