[Desktop Entry]
Encoding=UTF-8
Name=Link to little-scale: Teensy Basics 5: Port Manipulation
Type=Link
URL=http://little-scale.blogspot.com/2013/05/teensy-basics-5-port-manipulation.html
Icon=text-html
