[Desktop Entry]
Encoding=UTF-8
Name=Link to little-scale: Teensy Basics 3: Switches and Digital Inputs
Type=Link
URL=http://little-scale.blogspot.com/2013/03/teensy-basics-3-switches-and-digital.html
Icon=text-html
