[Desktop Entry]
Encoding=UTF-8
Name=Link to Serial Input Basics - updated
Type=Link
URL=https://forum.arduino.cc/index.php?topic=396450.0
Icon=text-html
