[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Set Up Teensy 3.2 or later Software on Ubuntu Linux – Scratch Robotics
Type=Link
URL=https://scratchrobotics.com/2018/07/27/how-to-set-up-teensy-3-2-software-on-ubuntu-linux/
Icon=text-html
